#Database Configuration
DB_URL=jdbc:postgresql://<YOUR WSL IP ADDRESS>:5432/wc_dev
DB_USERNAME=CHANGME
DB_PASSWORD=CHANGEME
CONN_TIMEOUT=2000
POOL_MAXSIZE=5

#Security Configutation
SEC_USERNAME=CHANGEME
SEC_PASSWORD=CHANGEME


# --- AWS INTEGRATION ---
CLOUD_ACCESSKEY=CHANGEME
CLOUD_SECRETKEY=CHANGEME
CLOUD_REGION=CHANGEME
BUCKET=CHANGEME