#CORS
CORS=https:CHANGEME

#Database Configuration
DB_URL=jdbc:CHANGEME
DB_USERNAME=CHANGME
DB_PASSWORD=CHANGEME
CONN_TIMEOUT=2000
POOL_MAXSIZE=5

#Security Configutation
SEC_USERNAME=CHANGEME
SEC_PASSWORD=CHANGEME


# --- AWS INTEGRATION ---
CLOUD_ACCESSKEY=CHANGEME
CLOUD_SECRETKEY=CHANGEME
CLOUD_REGION=CHANGEME
BUCKET=CHANGEME